*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: fixed;
    display: flex;
    background: transparent;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    margin-top: 15px ;
    border-bottom: 500rem white;
}


.logo {
    color: white;
    font-size: 26px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 25px;
    display: flex;

}
nav ul li a {
    text-decoration: none;
    color: white;
}
/* .main-image {
    background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_29433.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-position: center;
    background-size: cover;

} */

.banner-image{
    
    background-image:url(https://wallpaper-house.com/data/out/4/wallpaper2you_29433.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover ;
    width: 100%;
    display: flex;

} 
.content {
    
    display: flex;
    margin: 12rem 8rem;
    max-width:350px;
}
.contain {
    margin: 15rem 6rem;
}

.heading{
    color:white;
    font-size: 42px ;
    font-weight: 20px;
}
.subtitle p {
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    /* max-width: 350px; */


}
.button {
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    color:blue;
    border-radius: 11px ;
    margin-top: 4px ;
    box-shadow: none;
    border:none;
}
.set-img {
    margin: 9rem 5rem;
    max-width: 50%;
    height: 50%;
}
.below-banner {
    /* dont need to give width of flex */
    display: flex;
    justify-content:center;
    align-items: right;
    margin: 2rem 3rem;


}
.seprate-block {
    max-width: 40%;
    /* border: 1px solid; */
    margin-left: 15%;
}
.scnd-image {
    max-width: 26%;
    height: 12%;
    

}
.below-banner ul li {
    text-decoration: none;
    color: black;
    list-style: none;
    line-height: 1.8;
    
}
.text-decorate {
    background-color: rgb(202, 196, 208);
    color: blueviolet;
    line-height: 1.8;
    

}
.heading-2 {
    margin-top: 3rem 1rem;
}

/* css for card */
.card-section {
    display: flex;
}

/* making card  */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  