*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: fixed;
    display: flex;
    background: transparent;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    margin-top: 15px ;
    border-bottom: 500rem white;
}


.logo {
    color: white;
    font-size: 26px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 25px;
    display: flex;

}
nav ul li a {
    text-decoration: none;
    color: white;
}
/* .main-image {
    background-image: url(https://wallpaper-house.com/data/out/4/wallpaper2you_29433.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-position: center;
    background-size: cover;

} */

.banner-image{
    
    background-image:url(https://wallpaper-house.com/data/out/4/wallpaper2you_29433.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover ;
    width: 100%;
    display: flex;

} 
.content {
    
    display: flex;
    margin: 12rem 8rem;
    max-width:350px;
}
.contain {
    margin: 15rem 6rem;
}

.heading{
    color:white;
    font-size: 42px ;
    font-weight: 20px;
}
.subtitle p {
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    /* max-width: 350px; */


}
.button {
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    color:blue;
    border-radius: 11px ;
    margin-top: 4px ;
    box-shadow: none;
    border:none;
}
.set-img {
    margin: 9rem 5rem;
    max-width: 50%;
    height: 50%;
}
.below-banner {
    /* dont need to give width of flex */
    display: flex;
    justify-content:center;
    align-items: right;
    margin: 2rem 3rem;


}
.seprate-block {
    max-width: 40%;
    /* border: 1px solid; */
    margin-left: 15%;
}
.scnd-image {
    max-width: 26%;
    height: 12%;
    

}
.below-banner ul li {
    text-decoration: none;
    color: black;
    list-style: none;
    line-height: 1.8;
    
}
.text-decorate {
    background-color: rgb(202, 196, 208);
    color: blueviolet;
    /* line-height: 1.8; */
    padding: 9px 12px;
    font-weight: 7px;
    margin-top:4rem ;

}
.heading-2 {
    margin-top: 5rem 1rem;
}

/* card styling */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
     max-width: 31%;
     flex-grow: 0;
     flex-shrink:0 ;
     background-color: white;
     margin: 10px;
     overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background:rgb(104, 46, 158);
  }
  
  .container {
    padding: 2px 16px;
    max-width: 220px;
    text-align: center;
    padding-left:50px;
    padding-right:50px ;
    
  }
.card-img {
    max-width: 23%;
    margin-left:auto ;
    margin-right: auto ;
    display: block;

}

.card-item {
    display: flex;
    justify-content:space-around;
    text-align: center;
    flex-wrap: wrap;
}

.card-flex {
    background-color: rgb(237 243 247);
    /* border: black 2px solid; */
}
.product-seprate-conent {
    text-align: center;
    margin: 50px 130px 25px 450px;
    padding-top: 65px;
    max-width: 490px;

    
}
.seprate-conent {
    /* border: black 2px solid; */
    text-align: center;
    margin: 50px 0px 25px 0px;
    padding-top: 65px;
    
    
}
.for-space {
    margin-top: 19px;
    line-height:3.5 ;
}
.set-headings {
   margin-top: 25px;

}